    @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}


@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS */
.social-icons {
}

.social-icons:hover {
  transition: all 0.6s ease-in-out;  
 
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}

/* Solid border */
.solid {
    border-top: 3px solid #bbb;
  }
  
  .separator {
    border-top: 1px solid #ccc; /* Couleur et épaisseur du séparateur */
    margin: 10px 0; /* Marge autour du séparateur */
}


.skills-card {
    background: var(--white);
    text-align: center;
    border-radius: 5px;
    padding: 30px 0px 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.15);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
}




.card-text {
    padding: 8px; /* Espacement du texte à l'intérieur de la carte */
}

/* SERVICE */

.service {
  position: relative; /* Ajoutez une position relative à la carte parent */
  height: 250px; /* Définir la hauteur de la card */
  width: 170px; /* Définir la largeur de la card */
  padding: 0px;
  overflow: hidden; /* Pour s'assurer que le contenu ne dépasse pas les dimensions de la card */
}

.service:hover .skills-img img {
    transform: scale(1.1); /* Zoom de 10% lors du survol */
    transition: transform 0.3s ease; /* Animation de transition fluide */
}

.service-card {
    position: relative;
    min-height: 230px;
    border: 0px solid #dee2e6;
    overflow: hidden;
    border-radius: 3px;
  }
  
  .service-card .body {
    padding: 10px;
  }
  
  .service-card .body img.icon {
    margin-top: 40px;
    width: 80px;
    margin-bottom: 25px;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .service-card .body img.icon {
      -webkit-transition: none;
      transition: none;
    }
  }
  
  .service-card .body .subtitle {
    position: absolute;
    bottom: -100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .service-card .body .subtitle {
      -webkit-transition: none;
      transition: none;
    }
  }
  
  .service-card:hover .body img.icon {
    margin-top: 5px;
    width: 70px;
    margin-bottom: 15px;
  }
  
  .service-card:hover .body .subtitle {
    bottom: 7px;
    opacity: 1;
    visibility: visible;
  }

  .btn-more {
    display: none; /* Masquer le bouton par défaut */
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.card-custom {
  height: 500px; /* Hauteur fixe pour toutes les cartes */
}

.card-custom:hover .btn-more {
    display: inline-block; /* Afficher le bouton au survol de la carte */
}

.custom-image {
  max-width: 100%; /* Largeur maximale de l'image */
  max-height: 300px; /* Hauteur maximale de l'image */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Ajouter un fond semi-transparent pour l'overlay */
  transition: opacity 0.3s ease;
  border-radius: 10px; /* Arrondir les coins */
  overflow: hidden; /* Empêcher le débordement de l'overlay hors de la carte */
}

.card-custom:hover .overlay {
  display: flex; /* Afficher l'overlay au survol de la carte */
}
/*/ portfolio wrapper */
/* .portfolio-card {
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-card .portfolio-card-img {
    width: 100%;
  }
  
  .portfolio-card .portfolio-card-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    background-image: -webkit-linear-gradient(bottom, #b4ff84 0%, rgb(224, 247, 128)) 99%, rgb(2, 42, 48) 100%;
    background-image: linear-gradient(to top, #b4ff84 0%, rgb(2, 42, 48) 99%, rgb(224, 247, 128) 100%);
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
    width: 0;   
    height: 0;
    border-radius: 50%;
    overflow: hidden;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .portfolio-card .portfolio-card-overlay {
      -webkit-transition: none;
      transition: none;
    }
  }
  
  .portfolio-card .portfolio-card-overlay .portfolio-card-caption {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .portfolio-card:hover .portfolio-card-overlay {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  
  .portfolio .filters {
    border-bottom: 2px solid #dee2e6;
    border-radius: 0;
    padding-bottom: 4px;
    margin: 0 auto 20px;
    max-width: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .portfolio .filters a {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    display: block;
    color: #212529;
    font-size: 13px;
    font-weight: 500;
    opacity: .7;
    padding: 4px 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }
  
  .portfolio .filters a:first-child {
    margin-left: 0;
  }
  
  .portfolio .filters a:last-child {
    margin-right: 0;
  }
  
  .portfolio .filters a:hover {
    opacity: .9;
  }
  
  .portfolio .filters a.active {
    opacity: 1;
    background: #F85C70;
    color: #fff;
  }
  
  .portfolio .portfolio-container .portfolio-item {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin: 10px -5px;
    overflow: hidden;
    border-radius: 2px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .portfolio .portfolio-container .portfolio-item .content-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(248, 92, 112, 0.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  
  .portfolio .portfolio-container .portfolio-item .content-holder .title {
    font-size: 22px;
    font-weight: 600;
  }
  
  .portfolio .portfolio-container .portfolio-item .content-holder .subtitle {
    font-weight: 500;
    opacity: 1;
    color: #fff;
  }
  
  .portfolio .portfolio-container .portfolio-item:hover .content-holder {
    opacity: 1;
    visibility: visible;
  } */

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  .skills-img {
    display: flex;
    align-items: center;
    justify-content: center;
}


  .skills-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuster la taille en fonction de l'espace disponible */
    gap: 20px;
    justify-content: center;
  }
  
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
 .icon {
  width: 100%;
  height: auto;
}
.icon-card {
  background-color: rgb(3, 63, 71);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
  aspect-ratio: 1/1; /* Aspect ratio for square cards */
}
@media (min-width: 768px) {
  .skills-wrapper {
    grid-template-columns: repeat(2, 1fr); /* Afficher 2 cartes par ligne sur les écrans de taille moyenne (768px et plus) */
  }
}

@media (min-width: 1024px) {
  .skills-wrapper {
    grid-template-columns: repeat(4, 1fr); /* Afficher 4 cartes par ligne sur les grands écrans (1024px et plus) */
  }
}
  @media (max-width: 767.98px) {
    .portfolio-card {
      margin-bottom: 30px;
    }
    .service-card {
      margin-bottom: 30px;
    }
  }
/* Définir la taille des images pour les appareils mobiles */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .skills-img img {
        width: 75px; /* Modifier la taille selon vos besoins */
        height: 75px; /* Modifier la taille selon vos besoins */
    }
    .service {
        text-align: center;
    }
    .separator {
        margin: 0 auto; /* Centrer le séparateur */
    }
    .skills-img {
        margin-bottom: 0; /* Réinitialiser la marge basse */
    }
}

@media (min-width: 992px) {
    #sideNav {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
      max-width: 10rem;
      max-height: 10rem;
      border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
      display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
    }
  }